.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#wallet-address {
    padding: 10px;
    font-size: 1rem;
}

.connect-button {
    margin-top: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    padding: 0.85rem 1rem;
    position: relative;
    background-color: #000000;
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 0.02rem;
    cursor: pointer;
    outline: none;
    border: transparent;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }