.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#secret-price {
    padding: 10px;
    font-size: 1rem;
}

.uploadButton {
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #1AAB9F;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
